<div class="container">
  <div class="row">

<h4><%= @article.title %></h4>
<p>
    <%= @article.description %>
</p>

<% if can? :update, @article %>
<%= link_to "Değistir", edit_article_path(@article), class: "btn btn-warning btn-xs" %>
<% end %>

<%= link_to "Blog sayfasına dön", articles_path, class: "btn btn-primary btn-xs" %>
    </div>
</div>
