 <div id="cont" class="container">
    <div class="row">
      <div class="col-sm-12">
        <p><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> +90 538 471 52 52</p>

        <p><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> aslancami@aslancamikoyudernegi.com.tr</p>

        <p><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i> Dumlupınar mah Ordu sok №19 Pendik/Istanbul</p>

      </div>
  </div>
</div>

