<% provide(:title, 'Galeri') %>
<div class="container">
  <div class="row">

<h2>Fotograf değiştir</h2>

<%= render 'form', post: @galeri %>

<br>
<%= link_to 'Göster', @galeri, class: "btn btn-info btn-xs" %>
<%= link_to 'Geri', galeri_path, class: "btn btn-primary btn-xs" %>

    </div>
</div>
