<% provide(:title, 'Galeri') %>
<div class="container">
  <div class="row">

    <h2>Yeni fotograf yükle</h2>

    <%= render 'form', post: @galeri %>

    <%= link_to 'Back', galeris_path %>

    </div>
</div>
