<% provide(:title, 'Galeri') %>
<div class="container">
  <div class="row">
<p>
  <strong>Fotograf adı:</strong>
  <%= @galeri.title %>
</p>
<%= image_tag(@galeri.avatar.thumb.url) if @galeri.avatar? %>

<% if can? :update, Galeri %>
<%= link_to 'Değiştir', edit_galeri_path(@galeri), class: "btn btn-warning btn-xs" %>
<% end %>

<%= link_to 'Geri', galeris_path, class: "btn btn-primary btn-xs" %>
  </div>
</div>
