<p>
  <strong>Title:</strong>
  <%= @galeri.title %>
</p>
<%= image_tag(@galeri.avatar.thumb.url) if @galeri.avatar? %>

<%= link_to 'Edit', edit_galeri_path(@galeri), class: "btn btn-warning btn-xs" %>
<%= link_to 'Back', galeris_path %>
