<%= render 'layouts/slider' %>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
      <%= image_tag("boss.jpg", class: "img-responsive center-block", alt: "baskan", id: "boss") %>

        <div class="caption">
            <p id="name">Başkan <br> Nihat Coşkun</p>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <br>
      <p>
        Merhaba</p>
        <br>
        <p>Derneğimiz 2015 yılında Aslancamii köyü ve mahallelerinden dernekleşmenin önemini bilen hizmet gönüllüleri tarafından kurulmuştur.
        Derneğimiz ilke olarak yardımlaşma ve dayanışmayı görev bilmiştir.
        Dernek yönetim kurulu, üyeleri ve aileleri derneğimizin gelişiminde önemli katkıları olmuştur.
        Derneğimiz sosyal bir dernek olarak büyümeye devam edecektir.
        Saygılarımla.</p>
        <br>
        <p>Herşey Aslancami için</p>
      </p>
      <br>
    </div>
  </div>
</div>
