<h2>Duyurular</h2>

<div class="container">
    <div class="row">
        <div class='col-sm-3'>
            <p>Date: <input type="text" id="datepicker"></p>
        </div>
        <script>
            $( function() {
            $( "#datepicker" ).datepicker({
            autoSize: true
            });
            } );
        </script>
    </div>
</div>
