@import "bootstrap-sprockets";
@import "bootstrap";

* {
    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0px;
    background: #801089;
    text-transform: uppercase;
}

a {
    color: #fff;
}

#icon {
  font-size: 22px;
}

