@import "bootstrap-sprockets";
@import "bootstrap";

* {
    font-family: 'Droid Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0px;
    background: #801089;
    text-transform: uppercase;
}

a {
    color: #fff;
}

#icon {
  font-size: 22px;
}

h2 {
    display: block;
    text-align: center;
}

#article_title {
    width: 400px;
}

#article_description {
    width: 400px;
    height: 100px;
}

#slider {
    padding-left: 0;
    padding-right: 0;
}
