<!--Navbar-->
<nav class="navbar">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "", root_path, class: "fa fa-home", id: "icon" %></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hakkımızda <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Derneğimizin Tarihçesi</a></li>
          <li><a href="#">Derneğimizin Tüzüğü</a></li>
          <li><a href="#">Derneğimizin Etkinlikleri</a></li>
        </ul>
      </li>
      <li><%= link_to "yönetİm ve üyeler", yonetim_path %></li>
      <li><a href="galery.html">galerİ</a></li>
      <li><a href="iletisim.html">İletİşİm</a></li>
      <li><a href="duyurular.html">duyurular</a></li>
      <li><%= link_to "blog", articles_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Üye Ol</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Giriş Yap</a></li>
    </ul>
  </div>
</nav>
